#root {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading {
  height: 50px;
  width: 50px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  border: 1px solid #1d9af2;
  opacity: 1;
  animation: spinner4 800ms linear infinite;
}

@keyframes spinner4 {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.footer li {
  padding-bottom: 5px;
}

.footer li a {
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.footer li a:hover {
  font-weight: 400;
}
